.modal-dialog {
  padding-top: 50px;
  max-width: 700px;
}

.modal__custom {
  max-width: 100%;
}

.modal-active{
  display:block;
  max-height: calc(100vh - 80px);
  overflow-y: auto;
}

.fade:not(.show) {
  opacity: 1;
}

.modal-body {
  background-color: #ececef8c;
}

@media (max-width: 768px) {
  .modal-dialog {
    max-width: 600px;
  }
  .modal-body {
    padding: 1rem .6rem;
  }
}

.modal-dialog {
  padding-top: 50px;
  max-width: 700px;
  color: black;
}

.modal-active{
  display:block;
  max-height: calc(100vh - 80px);
  overflow-y: auto;
}

.fade:not(.show) {
  opacity: 1;
}

.modal-body {
  background-color: #ececef8c;
  text-align: left;
  font-size: 18px;
}
